html {
    font-family: sans-serif;
}
div {
    width: 200px; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 50px auto; 
    font-size: 1.1rem; 
    background-color: #3498db; 
    color: #ffffff; 
    text-shadow: 1px 1px 0 black; 
    border-radius: 10px; 
    border: 1px solid #2980b9;
    background-image: linear-gradient(
    to bottom right,
     rgba(0, 0, 0, 0) 0%,
     rgba(0, 0, 0, 0.2) 30%,
     rgba(0, 0, 0, 0.2) 100%
    );
    box-shadow: 
    3px 3px 5px rgba(0, 0, 0, 0.3), 
    inset 2px 2px 5px rgba(255, 255, 255, 0.3), 
    inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}